<!DOCTYPE html>
<html>
  <head>
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{if .Site.Params.themeStyle}}
      {{ partial (printf "%s/head.html" .Site.Params.themeStyle) . }}
    {{else}}
      {{ partial "flex/head.html" . }}
    {{end}}
  </head>
  <body data-url="{{ .RelPermalink }}">
    <iframe src="https://twubs.com/embed/Unblockhealth/?messagesPerPage=4&headerBgColor=%23f68d29&headerTextColor=%23ffffff" width="350" height="400" frameborder="0"><a href="https://twubs.com/Unblockhealth">#Unblockhealth</a></iframe>
    {{if .Site.Params.themeStyle}}
      {{ partial (printf "%s/body-beforecontent.html" .Site.Params.themeStyle) . }}
    {{else}}
      {{ partial "flex/body-beforecontent.html" . }}
    {{end}}
    
    {{ block "main" . }}
    {{ end }}
    
     {{ partial "changelog.html" . }}

    {{ block "footer" . }}
    {{ end }}

    {{ partial "custom-footer.html" . }}
  </body>
</html>
 
 
 


